/* importing Articulat CF from Adobe Fonts */
@import url("https://use.typekit.net/osy3dti.css");

:root {
  --max-width: 1100px;

  /* color palette */
  --blue: rgb(30, 59, 82); /* #1E3C54 */
  --blue-sec-1: rgb(51, 80, 105); /* #325068 */
  --blue-sec-2: rgb(193, 208, 220); /* #c1d0dc */
  --blue-sec-3: rgb(213, 224, 233); /* #d5e0e9 */
  --red: rgb(209, 63, 63); /* #D13F3F */

  --gradient-1: linear-gradient(0%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  font-weight: 400;
}
